{
  "extends": "@pancakeswap-libs/eslint-config-pancake",
  "plugins": ["simple-import-sort"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": "off",
    "no-plusplus": 0,
    "react/no-array-index-key": 0,
    "radix": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "no-case-declarations": 0,
    "no-await-in-loop": 0,
    "no-param-reassign": 0,
    "no-nested-ternary": 0,
    "default-case": 0,
    "react/require-default-props": 0,
    "spaced-comment": 0,
    "import/no-cycle": 0,
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "react/default-props-match-prop-types": 0
  }
}
